.slide{
    width: 100%;
    height: 70vh;
    position: relative;

    &.--small{
        height: 35vh;  
        @include flex (column,center,center);
    };
    &__show{
        width: inherit;
        height: inherit;
        position: absolute;
        top:0;
        display: flex
    };
    &__items{
        width: inherit;
        height: inherit;
        background-size:cover;
        background-position-y: 20%;
        position: absolute;
        top:0;
        &.--activeSlide{
            display: inherit;
            opacity: 100%;
            z-index: 2;
            animation: slide_opacity 2s ease-in 8s 1 forwards;
        }
        &.--nextSlide{
            z-index:1;
        }
    };
    &__nav{
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
        bottom: 0;
        &__ico{
            z-index: 4;
            display: block;
            width: 1em;
            height: 1em;
            margin: 1%;
            border: 5px solid setColor(noir,light);
            background-color: #caaea336;
            transition: background-color 1s ease-in;
            &.--activeSpan{
                background-color: setColor(orange);
                transition: background-color 0.2s ease-in;
            }
            &:hover{
                background-color: #cb6f5a6e;
            }
        }
    };
};

