.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5vh;
    height: 15vh;
    
    &__list{
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
    };
    &__items{
            z-index: 4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: 0% 1%;
            padding: 0% 1%;
            width:5em;
            height: 3.2em;
            background-color: #caaea336;
            border: 5px solid setColor(noir,light);
            &:hover{
                background-color: #cb6f5a6e;
            };
        &.--dropdown{
            position: absolute;
            right: 0;
            border:none;
            background-color: rgba(setColor(orange),.4);
            width:calc(5em + 10px);
            height: calc(3.2em + 10px);
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0 10px;
            justify-content: center; 
            transition: background-color ease-in 0.3s;
            &:hover{
                background-color: rgba(setColor(orange),1); 
            }
            &:hover .nav__dropdown{
                display: flex;
            }
        };

        &.--return{
            position: absolute;
            left: 0;
            display: flex;
            justify-content: center; 
            background-color: rgba(setColor(orange),.4);
            width:calc(5em + 10px);
            height: calc(3.2em + 10px);
            padding: 0 10px;
            border:none;
            transition: background-color ease-in 0.3s;
            &:hover{
                background-color: rgba(setColor(orange),1); 
            }
        }
    };
    &__links{
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: setColor(noir);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    };
    &__dropdown{
        display: none;
        flex-direction: column;
        position: absolute;
        top: calc(3.2em + 10px);
        &__items{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(setColor(orange),.7);
            padding: 0 10px;
            width:calc(5em + 10px);
            height: calc(3.2em + 10px);
        };
        &__links{
            display: block;
            width: 80%;
            text-decoration: none;
            text-transform: uppercase;
            text-align:center;
            color: setColor(noir);
            border-bottom: 5px solid setColor(noir,light);
            transition: border-bottom ease-in-out 0.3s;
            &:hover{
                border-bottom: 5px solid setColor(blanc,light);  
            }
        };
    };
    &__logo{
        z-index: 3;
        position:relative;
        bottom:40px;
        width: 30vh;
        height: 30vh;
        background-image: setImage(logo);
        background-size: contain;
        background-repeat: no-repeat;
    };
}


