.box{
    @include flex(row,flex-start,center);
    position: absolute;
    top:15%;
    &__title{
        color: setColor(orange,light);
        font-size: 4rem;
    }
    &__body{
        &:last-child{
            @include border(setColor(orange,dark), 3, left);
            margin-left: 100px;
            padding-bottom: 33px;
        };

        @include flex(column,flex-start,center);
        width: 100%;
        height: 100%;
        padding: 0 50px;
    };
    &__form{
        background-color: rgba(setColor(orange),.1);
        padding: 50px 25px;
        width: 100%;
        &__box{
            @include flex(column); 
            position:relative;
            margin: 50px 0;

            &:hover > .box__form__help{
                display: initial
            };
            &.--checkbox{
                @include flex(row); 
            };
            &.--error{
                .box__form__label{
                    @include backgroundText(setColor(error));
                };
                .box__form__input{
                    @include border(setColor(error), 5);
                };
                .box__form__error{
                    color: setColor(error);
                    font-size: 1.2rem;
                }
            }
        };
        &__label{
            @include backgroundText(setColor(noir,light));
            position: absolute;
            top: -20px;
            z-index: 1;
        };
        &__input{
            @include inputShadows();
            @include border(setColor(noir,light), 5);
            font-size: 1.6rem;
            width: 100%;
            padding: 0 2rem;
            height: 5.3rem;
            box-sizing: border-box;
            &.--textaera{
                height: 15rem;
                padding: 2rem;
            }
        }
        &__help{
            @include backgroundText(rgba(setColor(bleu),.3));
            padding: 2.3rem;
            display: none;
            width: 20rem;
            height: max-content;
            position: absolute;
            right: 38rem;
            font-size: 1.2rem;
            color:rgba(setColor(blanc,light),.5);
            text-align: center
        }
    };

}
