$colors:(
    noir: (
        base:#19151d,
        light:#211B26,
        dark:#141315,
    ),
    orange: (
        base:#BF5B45,
        light:#cb6f5a,
        dark:#944a39,
    ),
    blanc: (
        base: #ffffff,
        light:#d5bdb3,
        dark:#a99086,
    ),
    bleu:(
        base:#143D73,
        light: #164480,
        dark:#0F2F59,
    )
);

@function setColor($color, $tone:base) {
    @return map-get(map-get($colors, $color), $tone);
};

$fonts:(
    opensans: 'Open Sans',
    playfair: 'Playfair Display'
);

@function setFont($name){
    @if($name == opensans){
       @return map-get($fonts, $name),sans-serif; 
    }@else{
        @return map-get($fonts, $name),serif; 
    }; 
};

$font-sizes:(
    small: 1.4rem,
    regular: 1.6rem,
    medium: 1.8rem,
    large: 2.2rem,
    xlarge: 3rem,
    xxlarge: 15rem
);

@function setFontSize($size:regular){
    @return map-get($font-sizes , $size )
}

$images:(
    logo: './images/logo.svg',
    maskAlpha: './images/logo_maskAlpha.png',
    logoBackground: './images/logo_background.png',
    chucky:'./images/Chucky.jpg',
    frankenstein:'./images/Frankenstein.jpg',
    moule: './images/moule.jpeg',
    protheses: './images/protheses.jpg'
);

@function setImage($name){
    @return url(map-get($images, $name))
};

$cursors:( 
    base:'./images/light_cursor.svg',
    fat:'./images/fat_cursor.svg',
    txt:'./images/text_cursor.svg',
);

@function setCursor($type:base){
    @return url(map-get($cursors , $type))
}
