// utils
@import './variables';
@import './cursor';
@import './animations/slides';
@import './mixins/shadows';

// pages
@import './navbar';
@import './searchbar';
@import './footer';
@import './homePage';

html {
    font-size: 62.5%; //10px
}

body{
    position: relative;
    min-height: 100vh;
    margin: 0;
    background: setColor(noir);
    background: radial-gradient(circle, setColor(noir,light) 0%, setColor(noir) 100%);
    color: setColor(blanc,light);
    font-size: 1.6rem;
    font-family: setFont(opensans);
    box-sizing: border-box;
};

ul{
    list-style: none;
    padding: 0;
};

a{
    color:setColor(orange,dark);
    cursor: none;
}

main{
    width: 100%;
    min-height: calc(65vh + 6rem);
}

