// utils
@import './variables';
@import './cursor';
@import './animations/slides';
@import './mixins/shadows';
@import './mixins/align';
@import './mixins/border';
@import './mixins/background';
@import './mixins/image';

// pages
@import './homePage';
@import './agenda';
@import './tutorials';
@import './signInUp';
@import './admin';

//partials
@import './navbar';
@import './searchbar';
@import './footer';

html {
    font-size: 62.5%; //10px
}

body{
    position: relative;
    min-height: 100vh;
    margin: 0;
    background: setColor(noir);
    background: radial-gradient(circle, setColor(noir,light) 0%, setColor(noir,dark) 80%);
    color: setColor(blanc,light);
    font-size: 1.6rem;
    font-family: setFont(opensans);
};

ul{
    list-style: none;
    padding: 0;
};

a{
    color:setColor(orange,dark);
}

main{
    width: 100%;
    min-height: 80vh;
    box-sizing: border-box;
    padding: 3%;
    position: relative;
}

section{
    padding: 2% 20%;
}
.button{
    color: setColor(noir);
    text-decoration: none;
    background-color: setColor(orange,dark);
    text-transform: uppercase;
    padding:1rem 2rem;
    border: none;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
};

.imposter{
    z-index: 3;
    position: relative;
    top:0;
    display: flex;
    justify-content: center;
    &__item{
        text-align: center;
        line-height: 0rem;
        text-shadow: 2px 7px 13px setColor(noir,dark);
    }
};

h1{
    font-size: setFontSize(xxlarge);
    color: setColor(orange,light);
};

span.bold{
    font-weight: bold;
};

.--pointer{
    cursor: pointer;
}

.checkbox{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;

    &:hover ~ .checkbox__replace{
        @include inputShadows(rgba(148, 131, 124, 0.94), #A99086);  
    }

    //si checkbox invisible checked noircis un peu le fond
    &:checked ~ .checkbox__replace{
        @include inputShadows(rgba(setColor(noir,light),.7))
    }
    //si checkbox invisible checked display le custom checked object
    &:checked ~ .checkbox__replace:after{
        display:block
    }

    &__replace{
        @include inputShadows();
        @include border(setColor(noir,light),5);
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: setColor(blanc,light);

        //create the custom checked object
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 7px;
            top: -8px;
            width: 8px;
            height: 19px;
            border: solid setColor(blanc,light);
            border-width: 0 3px 5px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
    }

    &__label{
        margin-left: 50px;
    }
}

