<div id="footer">
    <ul>
        <li>© 2021 Fx Bubbles a.s.b.l. </li>
        <li class='footer_link'><a href="">general conditions</a></li>
        <li class='footer_link'><a href="">contact</a></li>
        <li class='footer_link'><a href="">about</a></li>
        <li class='footer_link'><a href="">partners and sponsors</a></li>
    </ul>
</div>