<nav id='navbar' class="nav">
    <ul id='navigation' class="nav__list">
        <li class="nav__items --return">
            <a class='nav__links' href="/">home</a> 
        </li>
        <li class="nav__items --pointer">
            <a class='nav__links' href="/training">training</a>
        </li>
        <li class="nav__items --pointer">
            <a class='nav__links' href="/tutorials">tutorials</a>
        </li>
        <li class='nav__logo --pointer'>
            <a href="#"></a>
        </li>
        <li class="nav__items --pointer">
            <a class='nav__links' href="/agenda">agenda</a>
        </li>
        <li class="nav__items --pointer">
            <a class='nav__links' href="/infos">infos</a>
        </li>
        <li class="nav__items --dropdown --pointer">
            <a class='nav__links' href="/account">account</a>
            <ul class='nav__dropdown'>
                <li class='nav__dropdown__items'>
                    <a class='nav__dropdown__links' href="/signin">sign in</a>
                </li>
                <li class='nav__dropdown__items'>
                    <a class='nav__dropdown__links' href="/signup">sign up</a>
                </li>
            </ul>
        </li>

    </ul>
</nav> 