<nav id='navbar' class="nav">
    <ul id='navigation' class="nav__list">

        <% if(pageActive !== 'home'){ %>
        <li class="nav__items --return">
            <a class='nav__links' href="/">home</a> 
        </li>
        <% } %>


        <% if(pageActive === 'training'){ %>
        <li class="nav__items --active">
        <% }else{ %>
        <li class="nav__items">
        <% } %>
            <a class='nav__links' href="/training">training</a>
        </li>


        <% if(pageActive === 'tutorials'){ %>
        <li class="nav__items --active">
        <% }else{ %>
        <li class="nav__items">
        <% } %>
            <a class='nav__links' href="/tutorials">tutorials</a>
        </li>

        <li class='nav__logo'>
            <div class='nav__logo__logo'></div>
            <div class='nav__logo__background'></div>
            <a href="#"></a>
        </li>


        <% if(pageActive === 'agenda'){ %>
        <li class="nav__items --active">
        <% }else{ %>
        <li class="nav__items">
        <% } %>
            <a class='nav__links' href="/agenda">agenda</a>
        </li>


        <% if(pageActive === 'infos'){ %>
        <li class="nav__items --active">
        <% }else{ %>
        <li class="nav__items">
        <% } %>
            <a class='nav__links' href="/infos">infos</a>
        </li>


        <li class="nav__items --dropdown">
            <a class='nav__links' href="/account">account</a>
            <ul class='nav__dropdown'>
                <li class='nav__dropdown__items'>
                    <a class='nav__dropdown__links' href="/signin">sign in</a>
                </li>
                <li class='nav__dropdown__items'>
                    <a class='nav__dropdown__links' href="/signup">sign up</a>
                </li>
            </ul>
        </li>

    </ul>
</nav> 