<div id='navbar'>

    <ul id='navigation'>
        <li class='navbar_onglet'>
            <a class='navbar_onglet_titre' href="/training">training</a>
        </li>
        <li class='navbar_onglet'>
            <a class='navbar_onglet_titre' href="/tutorials">tutorials</a>
        </li>
        <li class='navbar_logo'>
            <a href="#"></a>
        </li>
        <li class='navbar_onglet'>
            <a class='navbar_onglet_titre' href="/agenda">agenda</a>
        </li>
        <li class='navbar_onglet'>
            <a class='navbar_onglet_titre' href="/infos">infos</a>
        </li>
    </ul>

    <ul id='account'>
        <li class='navbar_onglet'>
            <a class='navbar_onglet_titre' href="/account/:id">account</a>
        </li>
        <ul class='navbar_dropdown'>
            <li><a class='navbar_dropdown_titre' href="/account/signin">sign in</a></li>
            <li><a class='navbar_dropdown_titre' href="/account/signup">sign up</a></li>
        </ul>
    </ul>

</div>