<div id="searchBar">
    <label for="searchBar">what do you want to learn today?</label>
    <form action="">
        <input type="search" id="searchBar_input" name="searchBar" aria-label="Search through site content" placeholder="ex:life casting">
        <button>find a course</button> 
    </form>
</div>
