<article class="searchBar">
    <label for="searchBar_home" class="searchBar__label">So, what do you want to learn today?</label>
    <form action="" class="searchBar__body">
        <input class="searchBar__input --texter" type="search" id="searchBar_home" name="searchBar" aria-label="Search through site content" placeholder="ex:life casting">
        <button class="searchBar__button --pointer">find a course</button> 
    </form>
</article>

