#cursor {
  z-index: 3;
  width: 40px;
  height: 40px;
  background-image: url("./images/light_cursor.svg");
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: fixed;
  top: 0;
  left: 0;
}
#cursor.text {
  background-image: url("./images/text_cursor.svg");
}
#cursor.fat {
  background-image: url("./images/fat_cursor.svg");
}

@keyframes changeSize {
  0% {
    width: 40px;
    height: 40px;
    display: initial;
  }
  100% {
    width: 4px;
    height: 4px;
    display: none;
  }
}
@keyframes slide_opacity {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 6rem;
  height: 15vh;
}
.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.nav__items {
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0% 1%;
  padding: 0% 1%;
  width: 5em;
  height: 3.2em;
  background-color: #caaea336;
  border: 5px solid #211B26;
}
.nav__items:hover {
  background-color: #cb6f5a6e;
}
.nav__items.--dropdown {
  position: absolute;
  right: 0;
  border: none;
  background-color: rgba(191, 91, 69, 0.7);
  width: calc(5em + 10px);
  height: calc(3.2em + 10px);
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 10px;
  justify-content: center;
}
.nav__items.--dropdown:hover .nav__dropdown {
  display: flex;
}
.nav__links {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #19151d;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  top: calc(3.2em + 10px);
}
.nav__dropdown__items {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(191, 91, 69, 0.7);
  padding: 0 10px;
  width: calc(5em + 10px);
  height: calc(3.2em + 10px);
}
.nav__dropdown__links {
  display: block;
  width: 80%;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #19151d;
  border-bottom: 5px solid #211B26;
  transition: border-bottom ease-in-out 0.3s;
}
.nav__dropdown__links:hover {
  border-bottom: 5px solid #d5bdb3;
}
.nav__logo {
  z-index: 3;
  position: relative;
  bottom: 40px;
  width: 30vh;
  height: 30vh;
  background-image: url("./images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  padding: 3% 30%;
  box-sizing: border-box;
}
.searchBar__label {
  font-size: 3rem;
  width: 100%;
  text-align: center;
}
.searchBar__body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  position: relative;
  margin: 6% 0%;
}
.searchBar__input {
  background-color: #d5bdb3;
  border: none;
  height: 4rem;
  width: 100%;
  padding: 0 2rem;
  -webkit-box-shadow: inset 1px 0px 46px 20px rgba(169, 144, 134, 0.94), inset 1px 7px 17px 4px #A99086;
  box-shadow: inset 1px 0px 46px 20px rgba(169, 144, 134, 0.94), inset 1px 7px 17px 4px #A99086;
}
.searchBar__button {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: #944a39;
  text-transform: uppercase;
  padding: 0 2rem;
  border: none;
  font-weight: bold;
}

#footer {
  font-size: 0.8em;
  padding: 1% 0%;
  position: relative;
  background-color: #141315;
  bottom: 0%;
  width: 100%;
}
#footer ul {
  display: flex;
  justify-content: space-around;
  padding: 0% 20%;
}

.slide {
  width: 100%;
  height: 70vh;
  position: relative;
}
.slide__show {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  display: flex;
}
.slide__items {
  width: inherit;
  height: inherit;
  background-size: cover;
  background-position-y: 20%;
  position: absolute;
  top: 0;
}
.slide__items.--activeSlide {
  display: inherit;
  opacity: 100%;
  z-index: 2;
  animation: slide_opacity 2s ease-in 8s 1 forwards;
}
.slide__items.--nextSlide {
  z-index: 1;
}
.slide__nav {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.slide__nav__ico {
  z-index: 4;
  display: block;
  width: 1em;
  height: 1em;
  margin: 1%;
  border: 5px solid #211B26;
  background-color: #caaea336;
  transition: background-color 1s ease-in;
}
.slide__nav__ico.--activeSpan {
  background-color: #BF5B45;
  transition: background-color 0.2s ease-in;
}
.slide__nav__ico:hover {
  background-color: #cb6f5a6e;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background: #19151d;
  background: radial-gradient(circle, #211B26 0%, #19151d 100%);
  color: #d5bdb3;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #944a39;
  cursor: none;
}

main {
  width: 100%;
  min-height: calc(65vh + 6rem);
}

/*# sourceMappingURL=style.css.map */
