<section class="box__body" id="signin_form">

  <form class="box__form" action="" method="post">

    <label  class="box__form__box" for="userMail">
      <span class="box__form__label">Your email:</span>
      <input class="box__form__input" type="text" id="userMail" name='mail' required>
      <span class="box__form__help">
        The e-mail address with which you registered.
      </span>
    </label>

    <label  class="box__form__box" for="userPassword">
      <span class="box__form__label">Your password:</span>
      <input class="box__form__input" type="password" id="userPassword" name='password' required>
      <span class="box__form__help">
        For the moment, if you have forgotten your password, you will have to keep thinking ...
      </span>
    </label>

    <label for="remenberMe" class="box__form__box --checkbox">
        <input class="checkbox" type="checkbox" name="remenberMe" id="remenberMe" value='true'>
        <span class="checkbox__replace"></span>
        <span class="checkbox__label">
          Remenber me
        </span>
        <span class="box__form__help">
          You are a special person, and everyone remembers you. But we will do it better than them!
        </span>
    </label>

    <button type="submit" class="button"> sigin in! </button>

  </form>

</section>