<div class="input-group" id="signin_form">
    <label for="userName" class="input-group__label">User Name:</label>
    <input type="text" id="userName" class="input-group__input">
    <span class="input-group__help">
      This is a help text. Could be a warning, too. For different colors you
      should use modifier classes.
    </span>
    <label for="userEmail" class="input-group__label">E-mail:</label>
    <input type="text" id="userEmail" class="input-group__input">
    <span class="input-group__help">
      This is a help text. Could be a warning, too. For different colors you
      should use modifier classes.
    </span>
    <label for="userPwd" class="input-group__label">Password:</label>
    <input type="password" id="userPwd" class="input-group__input">
    <span class="input-group__help">
      This is a help text. Could be a warning, too. For different colors you
      should use modifier classes.
    </span>
    <label for="userPwd2" class="input-group__label">Confirm password:</label>
    <input type="password" id="userPwd2" class="input-group__input">
    <span class="input-group__help">
      This is a help text. Could be a warning, too. For different colors you
      should use modifier classes.
    </span>
    <label for="remenberMe" class="input-group__label --checkbox">
        <input type="checkbox" name="remenberMe" id="remenberMe">
        <span>Remenber me</span>
    </label>
    <label for="newsLetters" class="input-group__label --checkbox">
        <input type="checkbox" name="newsLetters" id="newsLetters">
        <span>Send me newsletters</span>
    </label>
    <button class="button"> sigin up! </button>
</div>