<section class="box__body" id="signin_form">
    <form class="box__form" action="" method="POST">

        <label  class="box__form__box" for="userMail">
            <span class="box__form__label">Your email:</span>
            <input class="box__form__input" type="text" id="userMail" name='mail' >
            <span class="box__form__help">
              It must be valid. You should be able to confirm your count with. 
            </span>
        </label>

        <label  class="box__form__box" for="userPassword">
            <span class="box__form__label">Your password:</span>
            <input class="box__form__input" type="password" id="userPassword" name='password' required>
            <span class="box__form__help">
                It must contain at least one number and one uppercase and be composed of minimum 7 characters, maximum 20. 
            </span>
        </label>

        <label  class="box__form__box" for="confirmPassword">
            <span class="box__form__label">Confirm password:</span>
            <input class="box__form__input" type="password" id="confirmPassword" name='confirmPassword' required>
            <span class="box__form__help">
                It must the same... But you're not stupid and you have already understand it! 
            </span>
        </label>

        <label for="newsLetter" class="box__form__box --checkbox">
            <input class="checkbox" type="checkbox" name="newsLetter" id="newsLetter" value='true'>
            <span class="checkbox__replace"></span>
            <span class="checkbox__label">
              Send me some... news, of course!
            </span>
            <span class="box__form__help">
                Don't worry, we won't spam you, we're too lazy to write many newsletters!
            </span>
        </label>

        <button type='submit' class="button"> sigin up! </button>
    </form>

</section>