<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>FX Bubbles</title>
</head>
<body>

    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>

    <!-- agenda begin -->
    <div id='agenda'>

        <!-- Sample -->
        <div class='agenda_event'>
            <div class='agenda_event_date'>05 feverier</div>

            <div class='agenda_event_cover'>
                <div class='agenda_event_information'>
                <h2>name's event - city</h2>
                <p>a fews words on the event, just for explain</p>
                </div>
            </div>

            <div class='agenda_event_description'>
                <div class='agenda_event_description_texte'>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dicta, quia commodi. Ea, fugit! Labore omnis suscipit 
                        dignissimos! Expedita debitis fugiat dolorem! Dolorem 
                        sit mollitia veniam cumque aut cupiditate repellat maiores?
                    </p>
                </div>
                <div class='agenda_event_description_interact'>
                    <button class='agenda_event_description_button btn_interest'>add to interest</button>
                    <button class='agenda_event_description_button btn_register'>register to event</button>
                </div>
            </div>
        </div>
        <!-- /Sample -->

        <div class='agenda_event'>
            <div class='agenda_event_date'>05 feverier</div>

            <div class='agenda_event_cover'>
                <div class='agenda_event_information'>
                <h2>name's event - city</h2>
                <p>a fews words on the event, just for explain</p>
                </div>
            </div>

            <div class='agenda_event_description'>
                <div class='agenda_event_description_texte'>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dicta, quia commodi. Ea, fugit! Labore omnis suscipit 
                        dignissimos! Expedita debitis fugiat dolorem! Dolorem 
                        sit mollitia veniam cumque aut cupiditate repellat maiores?
                    </p>
                </div>
                <div class='agenda_event_description_interact'>
                    <button class='agenda_event_description_button btn_interest'>add to interest</button>
                    <button class='agenda_event_description_button btn_register'>register to event</button>
                </div>
            </div>
        </div>

        <div class='agenda_event'>
            <div class='agenda_event_date'>05 feverier</div>

            <div class='agenda_event_cover'>
                <div class='agenda_event_information'>
                <h2>name's event - city</h2>
                <p>a fews words on the event, just for explain</p>
                </div>
            </div>

            <div class='agenda_event_description'>
                <div class='agenda_event_description_texte'>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dicta, quia commodi. Ea, fugit! Labore omnis suscipit 
                        dignissimos! Expedita debitis fugiat dolorem! Dolorem 
                        sit mollitia veniam cumque aut cupiditate repellat maiores?
                    </p>
                </div>
                <div class='agenda_event_description_interact'>
                    <button class='agenda_event_description_button btn_interest'>add to interest</button>
                    <button class='agenda_event_description_button btn_register'>register to event</button>
                </div>
            </div>
        </div>

        <div class='agenda_event'>
            <div class='agenda_event_date'>05 feverier</div>

            <div class='agenda_event_cover'>
                <div class='agenda_event_information'>
                <h2>name's event - city</h2>
                <p>a fews words on the event, just for explain</p>
                </div>
            </div>

            <div class='agenda_event_description'>
                <div class='agenda_event_description_texte'>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dicta, quia commodi. Ea, fugit! Labore omnis suscipit 
                        dignissimos! Expedita debitis fugiat dolorem! Dolorem 
                        sit mollitia veniam cumque aut cupiditate repellat maiores?
                    </p>
                </div>
                <div class='agenda_event_description_interact'>
                    <button class='agenda_event_description_button btn_interest'>add to interest</button>
                    <button class='agenda_event_description_button btn_register'>register to event</button>
                </div>
            </div>
        </div>

        
    </div>

    <!-- footer -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>