<div id='agenda'>

    <!-- Sample -->
    <div class='agenda_event'>
        <div class='agenda_event_date'>05 feverier</div>

        <div class='agenda_event_cover'>
            <div class='agenda_event_information'>
            <h2>name's event - city</h2>
            <p>a fews words on the event, just for explain</p>
            </div>
        </div>

        <div class='agenda_event_description'>
            <div class='agenda_event_description_texte'>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dicta, quia commodi. Ea, fugit! Labore omnis suscipit 
                    dignissimos! Expedita debitis fugiat dolorem! Dolorem 
                    sit mollitia veniam cumque aut cupiditate repellat maiores?
                </p>
            </div>
            <div class='agenda_event_description_interact'>
                <button class='agenda_event_description_button btn_interest'>add to interest</button>
                <button class='agenda_event_description_button btn_register'>register to event</button>
            </div>
        </div>
    </div>
    <!-- /Sample -->

    <div class='agenda_event'>
        <div class='agenda_event_date'>05 feverier</div>

        <div class='agenda_event_cover'>
            <div class='agenda_event_information'>
            <h2>name's event - city</h2>
            <p>a fews words on the event, just for explain</p>
            </div>
        </div>

        <div class='agenda_event_description'>
            <div class='agenda_event_description_texte'>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dicta, quia commodi. Ea, fugit! Labore omnis suscipit 
                    dignissimos! Expedita debitis fugiat dolorem! Dolorem 
                    sit mollitia veniam cumque aut cupiditate repellat maiores?
                </p>
            </div>
            <div class='agenda_event_description_interact'>
                <button class='agenda_event_description_button btn_interest'>add to interest</button>
                <button class='agenda_event_description_button btn_register'>register to event</button>
            </div>
        </div>
    </div>

    <div class='agenda_event'>
        <div class='agenda_event_date'>05 feverier</div>

        <div class='agenda_event_cover'>
            <div class='agenda_event_information'>
            <h2>name's event - city</h2>
            <p>a fews words on the event, just for explain</p>
            </div>
        </div>

        <div class='agenda_event_description'>
            <div class='agenda_event_description_texte'>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dicta, quia commodi. Ea, fugit! Labore omnis suscipit 
                    dignissimos! Expedita debitis fugiat dolorem! Dolorem 
                    sit mollitia veniam cumque aut cupiditate repellat maiores?
                </p>
            </div>
            <div class='agenda_event_description_interact'>
                <button class='agenda_event_description_button btn_interest'>add to interest</button>
                <button class='agenda_event_description_button btn_register'>register to event</button>
            </div>
        </div>
    </div>

    <div class='agenda_event'>
        <div class='agenda_event_date'>05 feverier</div>

        <div class='agenda_event_cover'>
            <div class='agenda_event_information'>
            <h2>name's event - city</h2>
            <p>a fews words on the event, just for explain</p>
            </div>
        </div>

        <div class='agenda_event_description'>
            <div class='agenda_event_description_texte'>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dicta, quia commodi. Ea, fugit! Labore omnis suscipit 
                    dignissimos! Expedita debitis fugiat dolorem! Dolorem 
                    sit mollitia veniam cumque aut cupiditate repellat maiores?
                </p>
            </div>
            <div class='agenda_event_description_interact'>
                <button class='agenda_event_description_button btn_interest'>add to interest</button>
                <button class='agenda_event_description_button btn_register'>register to event</button>
            </div>
        </div>
    </div>

    
</div>