<div id='navbar'>
    <ul>
        <li class='navbar_onglet'>
            <a class='navbar_onglet_titre' href="#">training</a>
        </li>
        <li class='navbar_onglet'>
            <a class='navbar_onglet_titre' href="#">tutorials</a>
        </li>
        <li class='navbar_logo'>
            <a href="#"></a>
        </li>
        <li class='navbar_onglet'>
            <a class='navbar_onglet_titre' href="#">agenda</a>
        </li>
        <li class='navbar_onglet'>
            <a class='navbar_onglet_titre' href="#">infos</a>
        </li>
        <li class='navbar_onglet'>
            <a class='navbar_onglet_titre' href="#">account</a>
            <ul class='navbar_dropdown'>
                <li><a class='navbar_dropdown_titre' href="#">sign in</a></li>
                <li><a class='navbar_dropdown_titre' href="#">sign up</a></li>
            </ul>
        </li>
    </ul>
</div>