@mixin border ($color: #944a39, $weight: 3, $side:all, $padding: 20){
    @if($side == left){
        border-left: $weight+px solid $color;
        padding-left: $padding+px;
    }
    @if($side == right){
        border-right: $weight+px solid $color;
        padding-right: $padding+px;
    }
    @if($side == top){
        border-top: $weight+px solid $color;
        padding-top: $padding+px;
    }
    @if($side == bottom){
        border-bottom: $weight+px solid $color;
        padding-bottom: $padding+px;
    }
    @if($side == all){
        border: $weight+px solid $color;
    }     
    
}