@mixin inputShadows($dark:rgba(169,144,134,0.94), $light:#A99086){
    -webkit-box-shadow: inset 1px 0px 46px 20px $dark, inset 1px 7px 17px 4px $light; 
    box-shadow: inset 1px 0px 46px 20px $dark, inset 1px 7px 17px 4px $light;
}

@mixin textShadows($color:#1D1921){
    text-shadow: 4px 5px 7px $color;
}