@mixin inputShadows(){
    -webkit-box-shadow: inset 1px 0px 46px 20px rgba(169,144,134,0.94), inset 1px 7px 17px 4px #A99086; 
    box-shadow: inset 1px 0px 46px 20px rgba(169,144,134,0.94), inset 1px 7px 17px 4px #A99086;
}

@mixin textShadows($color:#1D1921){
    text-shadow: 4px 5px 7px $color;
}