<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>FX Bubbles</title>
</head>
<body>
    <header>
        <!-- navbar -->
        <%- include('./partials/navbar.ejs') %>
        <div class="slide_navigation" id="header_slide">
            <span class="ico_slide" style="background-color: #cb6f5a"></span><span class="ico_slide"></span><span class="ico_slide"></span>
        </div>
        
    </header>
     
        <!-- searchbar -->
        <%- include('./partials/searchbar.ejs') %>
        <!-- footer -->
        <%- include('./partials/footer.ejs') %>
</body>
</html>