<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./asset/styles/tutoriel.css">
    <title>Tutoriels</title>
</head>
<body>
    <!--include navbar-->


    <!-- pop-up video player -->
    <div class="tutoriel__player" id="player" style="display: none;">
        <iframe id="videoPlayer" class="tutoriel__video" src="./asset/videos/tutoriel__sample.mp4"></iframe>
    </div>
    <div class="tutoriel__tileMenu">
        <div class="tutoriel__tile" id="tile">
            <p> 1 </p>
        </div>
        <div class="tutoriel__tile" id="tile">
            <p> 2 </p>
        </div>
        <div class="tutoriel__tile" id="tile">
            <p> 3 </p>
        </div>
        <div class="tutoriel__tile" id="tile">
            <p> 4 </p>
        </div>
    </div>
</body>
<script src="./js/tutoriel.js"></script>
</html>