<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs') %>
<!-- end head -->

<body>
    <!-- navbar -->
    <nav id='navbar' class="nav">
        <ul id='navigation' class="nav__list">
            <li class="nav__items --pointer">
                <a class='nav__links' href="/">home</a> 
            </li>
            <li class="nav__items --pointer">
                <a class='nav__links' href="/admin/cours">cours</a>
            </li>
            <li class="nav__items --pointer">
                <a class='nav__links' href="/admin/videos">videos</a>
            </li>
            <li class="nav__items --pointer">
                <a class='nav__links' href="/admin/events">events</a>
            </li>
            <li class="nav__items --pointer">
                <a class='nav__links' href="/admin/infos">infos</a>
            </li>
            <li class="nav__items --dropdown --pointer">
                <a class='nav__links' href="#">more</a>
                <ul class='nav__dropdown'>
                    <li class='nav__dropdown__items'>
                        <a class='nav__dropdown__links' href="/">site</a>
                    </li>
                    <li class='nav__dropdown__items'>
                        <a class='nav__dropdown__links' href="#">stats</a>
                    </li>
                    <li class='nav__dropdown__items'>
                        <a class='nav__dropdown__links' href="#">settings</a>
                    </li>
                    <li class='nav__dropdown__items'>
                        <a class='nav__dropdown__links' href="#">help</a>
                    </li>
                </ul>
            </li>
    
        </ul>
    </nav> 
    <!-- end navbar -->

    <main class="imposter">
        <header>
        <h1> Bonjour Mike</h1> 
        <button class="button">lancer l'introduction</button>
        <label for="stopIntroduction" class="input-group__label --checkbox">
            <input type="checkbox" name="stopIntroduction" id="stopIntroduction">
            <span>J'ai compris comment ça marche!</span>
        </label>
        </header>

    
    </main>


</body>
</html>