<h1> Bonjour Mike</h1>
<form action="/" method="POST">
    <input type="date" name="date">
    <input type="text" name="titre" placeholder="Nom de l'évenement">
</br>
    <input type="text" name="lieu" placeholder="Lieu">
    <input type="text" name="description" placeholder="Description de l'évenement">
</br>
    <select name="catégorie">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <!-- ajout du form cloudinary -->
</form>