<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs') %>
<!-- end head -->

<body>
    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>
    <!-- end navbar -->

    <main>
        <header class='block__header'>
            <h2 class='block__title'>Training</h2>
            <p class='block__subtitle'>Want to train yourself in the middle of special effects? Which of our training courses would suit you? Please note, places are limited to give everyone a personalized learning experience</p>
        </header>
        <section id='training' class='training'>
            <div>
                <aside>
                    <figure>
                        image en css
                    </figure>
                </aside>
                <header>
                    <h2>
                        nom de la formation
                    </h2>
                    <p>
                        120 h 
                    </p>
                </header>
                <span>
                    PAS DE DATE PREVUE
                </span>
                <span>
                    0/6 participants
                </span>

                <div>
                    <div>La description de la formation, ça peut-être un texte d'une centaine de caractères, histoire de donner envie aux gens de s'inscrire. Je ne suis pas certaine que d'afficher le prix de la formation directement sur le site soit une bonne idée ça pourrait être quelque peu rebutant.</div>
                    <div>
                        <h3>Information & Inscription:</h3>
                        <form action="">
                            <label for="">
                                Nom:
                                <input type="text">
                            </label>
                            <label for="">
                                Prenom:
                               <input type="text"> 
                            </label>
                            <label for="">
                                Adress email:
                               <input type="text"> 
                            </label> 
                            <label for="">
                                <input type="checkbox" name="" id=""> keep me informed of the rest
                            </label>
                            <button class='button'>
                                Send me information
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- fin footer -->


    <!-- scripts -->
    <%- include('../partials/script.ejs') %>
    <!-- fin scripts -->
</body>
</html>