<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs') %>
<!-- end head -->

<body>
    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>
    <!-- end navbar -->

    <main>
        <header class='block__header'>
            <h2 class='block__title'>Tutorials</h2>
            <p class='block__subtitle'>

                Practice is the secret of quality work! And what better than a video tutorial to learn from home with a professional? So what are we going to learn today?</p>
        </header>
        
    <!-- pop-up video player -->
        <div class="player" id="player" style="display: none;">
            <iframe id="videoPlayer" class="player__content" src="videos/tutoriel__sample.mp4"></iframe>
        </div>
    
        <section class='NavTile'>
            <div class="NavTile__group">
                <div class="NavTile__item" id="tile_moulding" style= "background-image: url('https://images.unsplash.com/photo-1516975080664-ed2fc6a32937?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2550&q=80');">
                    <p class="NavTile__title"> moulding </p>
                </div>
                <div class="NavTile__item" id="tile_lifeCasting" style= "background-image: url('https://images.unsplash.com/photo-1516975080664-ed2fc6a32937?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2550&q=80');">
                    <p class="NavTile__title"> life casting </p>
                </div>
                <div class="NavTile__item" id="tile_makeUp" style= "background-image: url('https://images.unsplash.com/photo-1516975080664-ed2fc6a32937?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2550&q=80');">
                    <p class="NavTile__title"> make-up </p>
                </div>
                <div class="NavTile__item" id="tile_specialEffect" style= "background-image: url('https://images.unsplash.com/photo-1516975080664-ed2fc6a32937?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2550&q=80');">
                    <p class="NavTile__title"> special effect </p>
                </div>
            </div> 
        </section>   

        <section class='carousel'>
            <h3 class='carousel__title'>Les vidéos les plus vues:</h3>
            <div class='carousel__group'>
                <div class='carousel__item'>
                    <div class='carousel__body'></div>
                    <div class='carousel__content'></div>
                </div>
            </div>
        </section>

        </main>

    <!-- footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- fin footer -->


    <!-- scripts -->
    <%- include('../partials/script.ejs') %>
    <script src="./js/tutoriel.js"></script>
    <!-- fin scripts -->
</body>
</html>
