<!DOCTYPE html>
<html lang="en">
<!-- head -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>FX Bubbles</title>
</head>
<!-- end head -->

<body>
    <!-- navbar -->
    <nav id='navbar' class="nav">
        <ul id='navigation' class="nav__list">
            <li class="nav__items --pointer">
                <a class='nav__links' href="/">home</a> 
            </li>
            <li class="nav__items --pointer">
                <a class='nav__links' href="/admin/cours">cours</a>
            </li>
            <li class="nav__items --pointer">
                <a class='nav__links' href="/admin/videos">videos</a>
            </li>
            <li class="nav__items --pointer">
                <a class='nav__links' href="/admin/events">events</a>
            </li>
            <li class="nav__items --pointer">
                <a class='nav__links' href="/admin/infos">infos</a>
            </li>
            <li class="nav__items --dropdown --pointer">
                <a class='nav__links' href="#">more</a>
                <ul class='nav__dropdown'>
                    <li class='nav__dropdown__items'>
                        <a class='nav__dropdown__links' href="#">settings</a>
                    </li>
                    <li class='nav__dropdown__items'>
                        <a class='nav__dropdown__links' href="#">stats</a>
                    </li>
                    <li class='nav__dropdown__items'>
                        <a class='nav__dropdown__links' href="#">help</a>
                    </li>
                </ul>
            </li>
    
        </ul>
    </nav> 
    <!-- end navbar -->

    <main class="imposter">

        <section class="events" id="events_add">
            <header>
                <h2>Ajouter un evenement:</h2>
            </header>

            <form class="input-group" action="/admin/event/new" method="POST">
                <input class="input-group__input" type="date" name="date"> 
                
                
                <input class="input-group__input" type="text" name="title" placeholder="Nom de l'évenement">
            </br>
                <input class="input-group__input" type="text" name="place" placeholder="Lieu">
                <input class="input-group__input" type="text" name="content" placeholder="Description de l'évenement">
                <input class="input-group__input" type="text" name="description" placeholder="Description de l'évenement">
            </br>
                <select class="input-group__select" name="category">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <!-- ajout du form cloudinary -->

                <button class="button"> Ajouter cet evenement</button>



                <button id="upload_widget" class="cloudinary-button">Upload files</button>

            </form>

        </section>
    
        <section class="events" id="events_remove">
            <header>
                <h2>Tous les evenements:</h2>
            </header>

            <% events.forEach(event => { %>
                <div>
                    <time><%= event.date %></time>
                    <div>
                        <h3><%= event.title %></h3>
                        <div>
                            <button>...</button>
                            <button>sup</button>
                            <button>modif</button>
                        </div>
                    </div>
                    
                </div>
            <% }) %>
            <div>
                <time>03/12</time>
                <div>
                    <h3>Nom de l'evenement</h3>
                    <div>
                        <button>...</button>
                        <button>sup</button>
                        <button>modif</button>
                    </div>
                </div>
                
            </div>

        </section>
    </main>
    <script src="/lodash/lodash.js" type="text/javascript"></script>
    <script src="/cloudinary-core/cloudinary-core.js" type="text/javascript"></script>
    <script src="../js/cloudinary.js"></script>
</body>
</html>